@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    color: #333d4b;
    font-size: 23px;
}
li{
    list-style-type : none;
}
h1 {
    display: block;
    color: #0064FF;
    font-size: 28px;
    /* background-color: black; */
    margin-bottom: 30px;
}
h2 {
    color: #191f28;
    font-size: 50px;
}

h3 {
    color: #b0b8c1;
    font-size: 40px;
}
.phone{
    width: 600px;
}

.mark {
    width: 120px;
    margin: 0;
}
.buy{
    width: 509px;
}

.wrap {
    font-size: 40px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    

}
.wrap .container{
    width: 100%;
}
.wrap .container:nth-child(even){
    background-color: #f9fafb;
}
.wrap .container .container-inner {
    width: 1140px;
    /* background: #0064FF; */
    margin: 0 auto;
    padding: 250px 0;
}



.wrap header {
    font-size: 16px;
    width: 100%;
    /* background-color: tomato; */
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    z-index: 10;

}

.wrap header .nav .inner-header a {
    font-weight: 900;
}

.wrap header .nav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    /* background-color: skyblue; */
    height: 100%;
    align-items: center;
}

.wrap header .nav .inner-header {
    display: flex;
    justify-content: flex-start;
}

.wrap header .nav .inner-header img {
    width: 16px;
    height: 16px;
}

.wrap header .nav .gnb {
    display: flex;
    flex: 4;
    justify-content: right;
}

.wrap header .nav .gnb li a {
    padding: 10px;
}

.wrap header .nav .lang {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.wrap header .nav ul li:hover a {
    background-color: rgba(99, 99, 99, 0.1);
    border-radius: 10px;
}

/* end header */

.wrap section.main {
    width: 100%;
    height: 950px;
    background: url(/img/new_main.png) no-repeat center / cover;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
    font-weight: 900;
}

.wrap section.main .content {
    position: absolute;
    top: 120px;
}

.wrap section.main .content p {
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.3;
}

.wrap section.main .content ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap section.main .content ul li {
    width: 130px;
    height: 40px;
    background-color: rgba(21, 21, 21, 0.8);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 5px 10px;
}

.wrap section.main .content ul li:hover {
    background-color: rgba(99, 99, 99, 0.2);
}

.wrap section.main .content ul li img {
    width: 20px;
    height: 20px;
}

.wrap section.main .content ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}

/* end main */

.wrap section.main-bottom {
    padding: 200px 0;
    height: 600px;
    box-sizing: border-box;
    background-color: #f9fafb;

}

.wrap section.main-bottom p {
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
    display: flex;
    line-height: 1.5;
}

/* end main bottom */

.wrap .container1 .container-inner .ph{
    display: flex;
    justify-content: space-evenly;    
    position: relative;
}
.wrap .container1 .container-inner .ph li:first-child img {
    background: url(/img/section1_1_home_01.png) no-repeat center / 57%;
    position: relative;
    transform: translateY(30%);
}
.wrap .container1 .container-inner .ph li:last-child img {
    background: url(/img/section1_1_home_02.png) no-repeat center / 57%; 
    position: relative;
    transform: translateY(-30%);
}
.wrap .container1 .container-inner .inner-bottom{
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}
/* end container1 */

.wrap .container2 {
    background-color: #f9fafb;
}
.wrap .container2 h2 {
    margin-bottom: 80px;
}
.wrap .container2 .container-inner ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap .container2 .container-inner ul .title{
    margin-bottom: 10px;
    color: #3182f6;
    font-size: 20px;
}
.wrap .container2 .container-inner ul .big {
    margin-bottom: 20px;
    font-size: 40px;
}
.wrap .container2 .container-inner ul .small{
    font-size: 22px;
}
.wrap .container2 .container-inner ul .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    

}
.wrap .container2 .container-inner ul .box2{    
    flex-direction: row-reverse;
    align-items: center;
    
}
.wrap .container2 .container-inner ul .box li{
    padding-left: 38px;
}
/* end container2 */

.wrap .container3 .container-inner {
    position: relative;
}
.wrap .container3 .container-inner .c3-row{
    color: #8b95a1;
}
.wrap .container3 .container-inner .c3-little{
    color: #d1d6db;
}.wrap .container3 .container-inner p {
    color: #333d4b;
}
.wrap .container3 .container-inner img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    background: url(../img/section1_3_loan_01.png) no-repeat center / 57%;
    background: url(../img/section1_3_loan_02.png) no-repeat center / 57%;
    background: url(../img/section1_3_loan_03.png) no-repeat center / 57%;
    
    
}
/* end container3 */
.wrap .container4 .container-inner h2{
    margin-bottom: 80px;
}
.wrap .container4 .container-inner .inner-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.wrap .container4 .container-inner .inner-contents div{
    margin: 0 30px 30px 0;
    width: 47%;
}
/* end container4 */

.wrap .container5 .container-inner{
    position: relative;
}
.wrap .container5 .container-inner .sub{
    display: flex;
    justify-content: space-between;
    position: absolute;    
    bottom: 50%;    
    width: 900px;
    padding-left: 20px;
    
}
.wrap .container5 .container-inner .sub p:first-child{
    width: 168px;
}
.wrap .container5 .container-inner .sub p:last-child{
    width: 213px;
}
.wrap .container5 .container-inner img{
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: url(../img/section1_5_stock_01.png) no-repeat center / 57%;
}
.wrap .container5 .container-inner p{
    position: relative;
    bottom: 0;
    text-align: center;
}
/* end container5 */

.wrap .main2 {
    height: 800px;
    background: url(../img/section2_4_big.jpg) no-repeat center / contain;
}
.wrap .main2 span {
    color: #f9fafb;
    font-size: 100px;
    
    transform: translate(-50%);
}
.wrap .container6 .container-inner{
    
}
.wrap .container6 .container-inner h1{
    color: #191f28;
    margin-bottom: 140px;
    font-size: 60px;
}
.wrap .container6 .container-inner .c6-contents{
    margin-bottom: 210px;
}
.wrap .container6 .container-inner .c6-img1 {
    width: 740px;
    margin : 0 auto 60px;
}
.wrap .container6 .container-inner .c6-h {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
}
.wrap .container6 .container-inner .c6-contents2{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 220px;
}
.wrap .container6 .container-inner .c6-contents2 .c621{
    margin-right: 40px;
    
    display: flex;
    flex-flow: column wrap;
}
.wrap .container6 .container-inner .c6-contents2 .c621 .c6-img2 {
    width: 672px;
    margin-bottom: 40px;
}
.wrap .container6 .container-inner .c6-contents2 .c622{
    margin-top: 122px;
}
.wrap .container6 .container-inner .c6-contents2 .c622 .c6-img3{
    width: 336px;
    margin-bottom: 35px;
}
.wrap .container6 .container-inner .c6-contents2 .c622{
    width: 336px;
}
.wrap .container6 .container-inner .c6-contents2 .c622 p {
    font-size: 20px;
    color: #333d4b;
    width: 100%;
}
.wrap .container6 .container-inner .c6-contents .c6-img4{
    width: 100%;
    margin-bottom: 50px;
}
.wrap .c6c{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.wrap .c6-h {
        width: 50%;
}
.wrap .container-inner p{
    width: 50%;
    
}
.wrap .container6 .c6-contents:last-child{
    margin-bottom: 0;
}
/* end container6 */
.wrap .container7 {
    padding: 250px 0;
}
.wrap .container7 h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.wrap .container7 h2{
    font-size: 50px;
    margin-bottom: 100px;
}
.wrap .container7 ul {
    display: flex;
    flex-flow: row wrap;
}
.wrap .container7 ul li {
    width: 350px;
    margin-bottom: 100px;
    margin-right: 200px;
}
.wrap .container7 ul li .box{
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 26px;
    margin-bottom: 30px;
    position: relative;
    
}
.wrap .container7 ul li i {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
.wrap .container7 ul li:nth-child(1) .box{
    background-color: #ffe69b;
}
.wrap .container7 ul li:nth-child(2) .box{
    background-color: #f2f4f6;
}
.wrap .container7 ul li:nth-child(3) .box{
    background-color: #edccf8;
}
.wrap .container7 ul li:nth-child(4) .box{
    background-color: #e8f3ff;
}
.wrap .container7 ul li:nth-child(5) .box{
    background-color: #aeefd5;
}
.wrap .container7 ul li span {
    color: #333d4b;
    font-size: 20px;
}
.wrap .container7 ul li p{
    width: 100%;
    color: #8b95a1;
    font-size: 18px;
}
/* end container7 */
.wrap .container8{
    
    
}
.wrap .container8 .container-inner{
    padding: 0;
    width: 100vw;
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 250px;
    
}
.wrap .container8 .c8c {
    margin: 0 auto;
    width: 1048px;
}
.wrap .container8 .c8c span {
    color:#fff;
    font-size: 30px;
    margin-bottom: 12px;
}
.wrap .container8 .c8c h1{
    color: #fff;
    text-align: center;
    
}
.wrap .container8 .c8c>p {
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
}
.wrap .container8 p {
    color: #b0b8c1;
}
.wrap .container8 img {
    margin-bottom: 11px;
    width: 100%;
}
/* footer */
footer {
    width: 100%;
    height: 600px;
    background-color: orange;
    /* background-color: #191f28;    */
    display: flex;
    flex-direction: column;

}

footer .footer-menu {
    margin: 0 25%;
}

footer span,
footer p,
footer a {
    font-size: 18px;
}

footer .footer-menu .group-menu {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer .footer-menu .term {
    display: flex;
    flex-wrap: wrap;

}