@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

a{
    color: inherit;
    text-decoration: none;    
}
.wrap {
    font-size: 40px;
    font-family: 'Noto Sans KR',sans-serif;
    color: #1b1b1b;
}

/* main-header */
/* .wrap header{
    font-size: 32px;    
    width: 80%;
    height: 100px;
    margin: 10px auto;
    background-color: orange;
    display: flex;
    position: relative; 
    align-items: center;
    position: fixed;
    top: 0;
}
.wrap header h1 {
    
    font-weight: bolder;
    flex: 2;
}
.wrap header img{
    width: 32px;
    height: 32px;
}
.wrap header .gnb {
    width: 40%;
    font-size: 0.5em;
    height: 40px;
    position: absolute;
    display: flex;
    flex: 4;
    right: 180px;
    align-items: center;
       
    background-color: skyblue;
    justify-content: space-between;
}
.wrap header .gnb li {
    justify-content: space-between;
    width: 100%;
}
.wrap header .gnb li:hover {
    background-color: rgb(50,50,50,0.2);
    
}
.wrap header .lang{  
    width: 3%;
    font-size: 0.5em;
    height: 40px;
    display: flex;  
    flex: 1;
    justify-content: right;
    background-color: red;
    margin-right: 20px;
    align-items: center;
    
    box-sizing: border-box;
}
.wrap header .lang li{
    padding: 5px;

} */
body{
    height: 1200px;
}
.wrap header {
    font-size: 16px;
    width: 100%;
    /* background-color: tomato; */
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    
}
.wrap header .nav .innner-header a{
    font-weight: 900;
}
.wrap header .nav {
    width: 1140px;
    margin: 0 auto;
    display: flex;    
    /* background-color: skyblue; */
    height: 100%;    
    align-items: center;
}
.wrap header .nav .inner-header{
    display: flex;
    justify-content: flex-start;
}
.wrap header .nav .inner-header img{
    width: 16px;
    height: 16px;
}
.wrap header .nav .gnb {
    display: flex;
    flex: 4;
    justify-content: right;
}
.wrap header .nav .gnb li a{
    padding: 10px;
}
.wrap header .nav .lang{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.wrap header .nav ul li:hover a{
    background-color: rgba(99,99,99,0.1);
    border-radius: 10px;
}

/* footer */
footer{
    width: 100%;
    height: 700px;
    background-color: orange;
    /* background-color: #191f28;    */
    display: flex;
    flex-direction: column;
    
}
footer .footer-menu{
    margin: 0 25%;
}
footer span,
footer p,
footer a{
    font-size: 18px;
}
footer .footer-menu .group-menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
}
footer .footer-menu .term{
    display: flex;
    flex-wrap: wrap;
    
}